// Navigation Styles here

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px dashed @navigation-border;
    padding: 2% 0;

    h1{
        width:15%;
    }

    .links {
        text-decoration: none;
        width: 30%;
        display: flex;
        justify-content: space-around;

            a {
                text-decoration: none;
                color: @shark;
                font-size: 1.8rem;
            }
    }
}

